body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f5f5f5;
  font-family: sans-serif;
}

.bendera-container {
  display: flex;
  gap: 30px;
}

.bendera {
  width: 200px;
  height: 120px;
  border: 2px solid #ccc;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

/* ====== BENDERA GEORGIA ====== */
.georgia {
  position: relative;
  background: #fff;
}

.georgia::before,
.georgia::after {
  content: "";
  position: absolute;
  background: red;
}

.georgia::before {
  width: 30%;
  height: 100%;
  left: 35%;
}

.georgia::after {
  width: 100%;
  height: 30%;
  top: 35%;
}

/* Salib kecil */
.cross {
  position: absolute;
  width: 18%;
  height: 18%;
}

.cross::before,
.cross::after {
  content: "";
  position: absolute;
  background: red;
}

.cross::before {
  width: 100%;
  height: 25%;
  top: 37%;
}

.cross::after {
  width: 25%;
  height: 100%;
  left: 37%;
}

/* Posisi 4 salib kecil */
.top-left { top: 10%; left: 10%; }
.top-right { top: 10%; right: 10%; }
.bottom-left { bottom: 10%; left: 10%; }
.bottom-right { bottom: 10%; right: 10%; }

/* ====== BENDERA PRANCIS ====== */
.france {
  display: flex;
}

.france div {
  flex: 1;
}

.france .blue { background: #0055a4; }
.france .white { background: #fff; }
.france .red { background: #ef4135; }

/* ====== BENDERA JEPANG ====== */
.japan {
  position: relative;
  background: #fff;
}

.japan::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  background: #bc002d;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

